page-login {
    .title {
        margin-top: 12%;
        color: #009688;
      }
    
    .subtitle {
        color: #757575;
        font-size: 10pt;
        margin-top: -6px;
        margin-bottom: 20px;
    }   
}